body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

canvas {
  height: 420px;
}
